@import-normalize;

body {
    font-family: sans-serif;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;

    border: 1px solid gray;
    border-radius: 5px;

    margin: 0 auto;
    margin-top: 50px;
}

.title {
    color: gray;
}

.statList {
    display: flex;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 75px;
}

.label {}

.percentage {}